<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<link rel="stylesheet" type="text/css" href="../css/style.css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" href="../css/login.css" th:href="@{/css/login.css}">
	<title>Login page</title>
</head>
<body>
	<h1 class="title login-title">Welcome to the auction website!</h1>
	<div class="frame login-div">
	<div class="subtitle">Insert your credentials to Login</div>
	<form method="POST" th:action="@{/Login}">
		<div class="form-part">
			<label>Username</label>
			<input placeholder="Enter your username" id="username" name="username" required>
		</div>
		<div class="form-part">
			<label>Password</label>
			<input type="password" placeholder="Enter your password" id="password" name="password" required>
		</div>
		<button class="btn login-btn" type="submit">Login</button>
	</form>
	<div class="warning-message" th:if="${warning}">
		<span th:text="${warning}"></span>
	</div>
	<hr>
	<a th:href="@{/GoToRegister}">Register now!</a>
	<div class="warning-message" th:if="${error}">
		<span th:text="${error}"></span>
	</div>
	</div>
</body>
</html>