@charset "UTF-8";

body{
	text-align : center;
}

.register-title{
	text-align: center;
	font-size : 40pt;
	margin-top : 35pt;
	margin-bottom : 15pt;
}

.register-btn{
	font-family : "Brush Script MT";
	padding: .3rem 1rem;
	font-size: 25pt;
}

.register-frame{
	max-width: 50%;
	border-radius: 20px;
	margin-bottom:35pt;
	padding : 2rem;
	box-shadow : 0 1rem 3rem #87CEFA;
}